[submodule "Aerial/external/SDL"]
	path = Aerial/external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Aerial/external/Tracy"]
	path = Aerial/external/Tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Aerial/external/glm"]
	path = Aerial/external/glm
	url = https://github.com/g-truc/glm.git
